.projects {
	@include make-row();
	background-color: $white;
	padding: 20px 50px;
	text-align: center;

	@media (min-width: $screen-desktop) {
		margin-right: 0;
	}

	.title {
		text-align: center;
		font-size: $font-size-large;
		margin: 0 0 20px 0;
	}
	section {
		@include make-row();
		.project {
			@include make-md-column(4);
			@include make-xs-column(6);
			text-align: center;
			.thumbnail {
				img {

				}
				.caption {
					background-color: #f2f2f2;
					.name {
						font-size: $font-size-large;
						font-weight: bold;
						color: $gray-base;
					}
					.separator {
						margin: 0 7px;
						border: 1px solid $gray-light;
					}
				}
			}
		}
	}
}